{% extends 'layout/basic.html' %}
{% block title %}
Регистрация
{% endblock %}
{% block content %}
    <div class="card mb-3 border-0 shadow w-50 col-md-8 offset-md-2" style="margin-top: 5%; margin-left: 20%">
        <div class="card-body">
            <div class="card-title nth-card-title">
                <h4>Регистрация на сайте</h4>
            </div>

            <form method="post" action="{% url 'register' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-dark mt-2">Зарегистрироваться</button>
            </form>
        </div>
    </div>
{% endblock %}